#ie-warning {
	padding: 10px;
	width: 100%;
	size: 20px;
	z-index: 1000;
	position: fixed;
	top: 25%;
	color: white;
	background: #693737;
}
#ie-warning h1 {
	color: red;
}
#ie-warning p {
	color: pink;
	text-align: center;
}
